* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightslategrey;
    background-image: url(img/telan.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid #9b9b9b;
    display: flex;
    align-items: center;
    justify-content: center;
}

body h1 {
    text-align: center;
    color: rgb(35, 41, 36);
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    font-style: initial;
    font-weight: bolder bold;
    border-left-color: rgb(70, 131, 146);
    padding: 10px;
    text-shadow: 2px 2px rgb(122, 143, 163);
    margin-top: 4s0px;;
}

nav {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(99, 96, 93, 0.514);
    margin-top: 150px;
    margin-bottom: 300px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
    flex-wrap: wrap;
    border-radius: 20px;
    size-adjust: initial;
    backdrop-filter: blur(20px);
}

form label {
    margin: 10px;
    border-radius: 15px;
    font-size: 20px;
}

form input {
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
}

input-box {
    color: rgb(143, 124, 124);
}

.box {
    display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: larger;
    font-size: 20px;
    border-radius: 5px;
    padding: auto;
    box-sizing: border-box;
    gap: 20PX;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;

}

.container {
    display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: transparent;
}

senha.html {
    display: flex;
    font-size: small;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    background-image: url(img/telan.png);
    background-size: cover;
    min-height: 100vh;
    background-repeat: repeat;
    background-position: center;
    background-color: gray;
}

a {
    color: beige;
    font-size: 16px;
    display: flex;
    margin-top: 5px;
    padding: 15px 15px;

}

button {
    font-size: 16px;
    padding: 10px;
    white-space: unset;
    border-radius: 5px;
    cursor: pointer;
    transition: 0, 3s;
    color: rgb(7, 7, 7);
    font-weight: bold;
    background-color: rgb(235, 233, 233);
    gap: 30px;
    width: 150px;
    height: 40px;

}
div input {
     font-size: 16px;
    padding: 10px;
    white-space: unset;
    border-radius: 5px;
    cursor: pointer;
    transition: 0, 3s;
    color: rgb(7, 7, 7);
    font-weight: bold;
    background-color: rgb(235, 233, 233);
    gap: 30px;
    width: 300px;
    height: 50px;

}